<div class="container">
  <div class="text-center mt-4">
    <h2>About Us</h2>

    <div class="border p-3 m-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis labore
      eum quisquam, eligendi unde quae nam ad voluptatum natus necessitatibus
      deserunt iusto rem ratione alias earum. Facilis maiores iste eaque?
    </div>

    <img src="https://diversityq-production.s3.amazonaws.com/uploads/2019/05/The-Power-of-Staff-Networks.jpg" class="img-fluid" alt="...">

    <h3 class="mt-4">What we do</h3>

    <div class="d-flex justify-content-center">


      <div class="card m-3" style="width: 18rem;">
        <img src="https://thumbs.dreamstime.com/b/teamwork-group-young-happy-multicultural-business-people-working-together-modern-office-communicating-sharing-fresh-194018523.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, molestias.</p>
        </div>
      </div>
    
      <div class="card m-3" style="width: 18rem;">
        <img src="https://yti.edu/sites/default/files/styles/blogfeature_large/public/field/image/CareerWorkAnimals.jpg?itok=NiWOop6v" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, molestias.</p>
        </div>
      </div>
    
    
    </div>
  </div>





</div>
