<div class="container">
    <div class="row">
      <div class="col">
        <img src="/assets/img/foto-header.jpeg" class="img-fluid mx-auto d-block" alt="...">
      </div>
    </div>
  
  </div>

  <div class="container d-flex flex-wrap justify-content-center align-items-center">
    <div class="card m-4 flex-fill" style="width: 18rem;">
      <img src="/assets/img/cat.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CAT WORLD</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="/cat" class="btn btn-primary">Go to cats</a>
      </div>
    </div>
  
    <div class="card m-4 flex-fill" style="width: 18rem;">
      <img src="/assets/img/dog.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">DOG WORLD</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="/dog" class="btn btn-primary">Go to dogs</a>
      </div>
    </div>
  
    <div class="card m-4 flex-fill" style="width: 18rem;">
      <img src="/assets/img/bird.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BIRD WORLD</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="/bird"  class="btn btn-primary">Go to birds</a>
      </div>
    </div>
  </div>
  
  







  <div class="p-5 text-center bg-body-tertiary">
    <h1 class="mb-3">Heading</h1>
    <h4 class="mb-3">Subheading</h4>
    <a data-mdb-ripple-init class="btn btn-primary" href="" role="button">Call to action</a>
  </div>
  